.slidecontainer {
    width: 100%;
  }
   h1 {
    font-family: "Carme", sans-serif; 
    font-size: 35pt;
    font-weight: bold;
    color: grey;
    margin-left: 30vh;
  }
  .instructions {
    font-family: "Carme", sans-serif; 
    font-size: 14pt;
    font-weight: bold;
    color: #9c0063;
  }
  .slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 25px; 
    border-radius: 5px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  .last-entered-number {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}
  .slider:hover {
    opacity: 1;
  }  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    background: #9c0063; 
    cursor: pointer; 
  }
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    border-radius: 5px; 
    background: #9c0063;
    cursor: pointer; 
  }
  .valuecontainer { 
    font-family: "roboto", sans-serif; 
    font-size: 70pt;
    font-weight: bold;
    color: #9c0063;
    margin-left: 59vh;
    margin-top: 12;
  }
  .showPhoneNumber {
    background-color: #9c0063;
    height: 60px;
    width: 200px;
    color: white; 
    font-size: 12pt;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    margin-left: 42vw;
}
.callPhoneNumber {
  background-color:#9c0063;
  height: 50px;
  width: 250px;
  color: white;
  font-size: 12pt;
  padding: 10px 20px;
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
}
button:hover {
    background-color: grey; 
}
.last-entered-number {
  font-family: "roboto", sans-serif; 
  font-size: 130px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}
.bottom-half {
  height: 50vh;
}

.resetButton {
  background-color: #9c0063;
  height: 50px;
  width: 250px;
  color: white;
  font-size: 12pt;
  padding: 10px 20px;
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  margin-left: 81vw;
}
.resetButton:hover {
  background-color: grey;
}